<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="{{if .IsPage}}page{{end}} {{ if in site.Params.mainSections .Type }}post-page{{end}}">
  {{ partial "header.html" . }}

  <main class="main container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-0">
        <div class="content">
          <article class="post {{ .Site.Language.LanguageName }}" id="article">
            {{ $RelPermalink := .RelPermalink }}
            <header class="post-header">
              <div class="post-title">
                <span>{{ or (T .Title) .Title }}</span>
              </div>
              {{ if in site.Params.mainSections .Type }}
              {{ partial "post-meta.html" . }}
              {{ end }}
            </header>

            <div class="post-content markdown-body">
              {{ .Content }}
            </div>

            {{ with .Params.tags }}
            <div class="post-tags">
              {{ range . }}
              <a class="post-tag"
                href="{{ "tags" | absURL}}/{{ . | urlize }}{{ if strings.HasSuffix $RelPermalink ".html" }}.html{{else}}/{{end}}">{{ . }}</a>
              {{ end }}
            </div>
            {{ end }}

            {{ if in site.Params.mainSections .Type }}
            {{ partial "related.html" . }}

            {{ if .Site.Params.postAds }}
            <div class="post-ads">{{ .Site.Params.postAds | safeHTML }}</div>
            {{ end }}

            {{ if .Site.Params.disqus }}
            <div class="post-comments">
              {{ partial "disqus.html" . }}
            </div>
            {{ end }}
            {{ end }}
          </article>
        </div>
      </div>

      {{ partial "sidebar.html" . }}
    </div>
  </main>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}

  {{ if .Site.Params.extraBody }}
  {{ .Site.Params.extraBody | safeHTML }}
  {{ end }}
</body>

</html>
