<div class="sidebar col-xs-12 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-0">
  {{ if in site.Params.mainSections .Type }}
  {{ with .TableOfContents }}
  <section class="toc">
    <h3>{{ T "toc" }}</h3>
    <div class="block">
      {{ . }}
    </div>
  </section>
  {{end}}
  {{end}}

  {{ if site.Params.sidebarPoems }}
  <section class="poems">
    <div class="block">
      <p class="jinrishici"><span id="jinrishici-sentence">{{ T "loading" }}...</span>
        <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
      </p>
    </div>
  </section>
  {{end}}

  <section class="categories">
    <h3>{{ T "categories" }}</h3>
    <div class="block">
      <ul>
        {{ range .Site.Taxonomies.categories.ByCount }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
        {{ end }}
      </ul>
    </div>
  </section>

  <section class="tags">
    <h3>{{ T "tags" }}</h3>
    <div class="block">
      {{ range .Site.Taxonomies.tags.ByCount }}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      {{ end }}
    </div>
  </section>
</div>
